body {
    margin: 0;
    padding-top: 80px;
    color: #6D6D6D !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: white;
    transition: background-color 0.3s ease;
}


/* Style for navbar when scrolled */
.navbar.scrolled {
    background-color: #fff0d3;
}

.custom-toggler.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(252, 65, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#navbarNav .nav-item a {
    background-color: #FC4100;
    border-radius: 10px 10px 10px 0;
    color: white;
}

#navbarNav .nav-item a:hover {
    background-color: #FFC55A;
    border-radius: 10px 10px 10px 0;
    color: #333;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

#navbar a:hover  {
    background-color: transparent !important;
}

.nav-input-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    input {
        border: none;
        outline: none;
        box-shadow: none;
        flex: 1;
        background-color: transparent;
        padding-left: 0.5rem;
    }

    input:focus {
        outline: none;
        box-shadow: none;
    }

    input::placeholder {
        color: #999;
    }
    
    .search-icon {
        color: #999;
    }


    .uk-flag {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .dropdown-toggle::after {
        display: none;
    }
}

.nav-input-container-mobile {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */


    input {
        border: none;
        outline: none;
        box-shadow: none;
        flex: 1;
        background-color: transparent;
        font-size: small;

    }

    input:focus {
        outline: none;
        box-shadow: none;
    }

    input::placeholder {
        color: #999;
    }
    
    .search-icon {
        color: #999;
    }


    .uk-flag {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .vr {
        opacity: 0.15;
    }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}


.offcanvas ul {
    line-height: 200%;
    list-style: none;
}

.offcanvas .nav-item a {
    color: #FFC55A;
}

.offcanvas .nav-item a:hover {
    color: #333 !important;
}

.icon-button {
    background-color: #FFC75F;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
}

.account-dropdown {
    background-color: #FFC75F;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: small !important;
}  

.guest {
    .register {
        font-size: small;
        color: #C2C7D0;
        text-decoration: none;
    }

} 

nav .dropdown-menu {
    padding: 5px;
    right: 0%;
    font-size: small;
}

nav .dropdown-menu a:focus, a:hover {
    background-color: white !important;
    color: #FC4100 !important;
}

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1040;
    display: none;
}

.overlay.show {
    display: block;
}

.offcanvas-nav {
    width: 85%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 15%;
    background-color: white;
    overflow-x: hidden;
    transition: 0.09s;
    z-index: 1050;
    display: flex;
    flex-direction: column;
}


.offcanvas-nav li {
    margin-bottom: 10px;
}

.offcanvas-nav .nav-item .active{
    color: #FC4100 !important;
}

.closeBtn {
    position: fixed;    
    top: 10px;
    right: 8%;
    font-size: 1.5em !important;
    color: white !important;
    z-index: 1055;
    display: none;
}

.closeBtn.show {
    display: block;
}

.btn-lg {
    font-size: 0.85rem !important;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

}

.btn-primary {
    background-color: #ffc55a;
    border: 1px solid #FFC55A;
    color: black;
}

.btn-primary:hover {
    background-color: #fc4100;
    border: 1px solid #FC4100;
    color: white;
}

.btn-outline-light {
    border: 1px solid #FFC55A;
    color: #FFC55A;
}

.btn-outline-light:hover {
    background-color: white !important;
    border: 1px solid #FFC55A;
    color: #FFC55A;
}

.btn-main {
    background-color: #FC4100;
    border: 1px solid #FC4100;
    color: white;
}

.btn-main:hover {
    background-color: #FFC55A;
    border: 1px solid #FFC55A;
    color: white;
}

.btn-outline-accent {
    border: 1px solid #FFC55A;
    color: #FFC55A;
}

.btn-outline-accent:hover {
    background-color: #FFC55A;
    border: 1px solid #FFC55A;
    color: black;
}


.bg-accent {
    background-color: #FFECE6;
}

.bg-secondary {
    background-color: #FFC55A56 !important;
}

.text-accent {
    color: #9C7837
}

.text-main {
    color:#FC4100
}

.text-primary {
    color: #FFC55A !important;
}


.category-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem; /* Space between items */

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.category-row::-webkit-scrollbar {
    display: none;
}

.category-row::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.category-row::-webkit-scrollbar-track {
    background: transparent;
}  

.category-card {
    min-width: 150px; 
    border: 1px solid #FFC75F;
    transition: box-shadow 0.3s ease;
}

.category-card:hover {
    background-color: #FFC75F;
    color: white;
}  

.category-card img {
    height: 40px;
}

.category-link {
    text-decoration: none;
    font-size: small;
    color: #333;
}

.category-link:hover {
    text-decoration: none;
}
  

/*Login Styles*/
#userLogin, .userLogin {

    .modal_closebtn { 
      font-size: 2em;
    }
  
    .social_login button {
      border-width: 2px;
    }
  
    .social_login button:hover {
      background-color: transparent;
    }
   
    .form-control {
      border: 2px solid #00000010;
      background-color: #F6F6F6;
    }
  
    .form-control:focus {
      border-color: none !important;
      box-shadow: none !important;
    }
  
    .togglePassword {
      right: 10px !important;
      top: 30%;
    }
  
    button:hover{
      background-color: #FFC75F;
    }
  
}


.product-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;


    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.product-row::-webkit-scrollbar {
    display: none;
}
    
.product-row::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.product-row::-webkit-scrollbar-track {
    background: transparent;
} 

.product-card {
    position: relative;
    border: none;
    transition: box-shadow 0.3s ease;
}

.product-card .rate {
    font-size:smaller;
    color: #C2C7D0;
}

.product-card s {
    text-decoration-color: red;
    text-decoration-thickness: 0.5px;
}

.product-card .old-price {
    color: #d0d4db;
}

.quantity-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.remove {
    border: 1px solid #6D6D6D;
    color: #6D6D6D;
    background-color: #B3B9C4;
}

.add {
    border: 1px solid #FFC55A;
    color: #FFC55A;
    background-color: #FFC55A30;
} 

.single-product-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #9C7837;
    color: #9C7837;
}

.single-product-img {
    height: 400px;
    width: 100%;
}

.thumbnail {
    width: 60px;
    height: 40px;
    object-fit: scale !important;
    border: 1px solid #bdbbbb;

}

img.thumbnail.active {
    border: 1px solid #FC4100;
}

#mobileRatings {
    .stars i {
        margin-right: 2px;
    }

    .progress {
        height: 5px !important;
    }
}

#Ratings {
    .bigStars{
        display: flex;
        align-items: center;
        justify-content:stretch;        
    }

    .bigStars i {
        font-size:xx-large;
        flex: 1 1 auto;
    }

    .detail {
        font-size:x-small;
        font-weight: bold;
    }

}

#cta {
    background-color: #f8f9fa;
    padding: 3rem 0;
  } 
  
  #cta p {
    font-size: 1.25rem;
  }
  

  
  #cta small {
    font-size: 0.875rem;
  }
  
.foot {
  
    bottom: 0px;
}



#footer {
    font-size: small !important;
    font-weight: 100;
    background-color: black;
    color: #ccc;

    ul li{
        line-height: 2.5em;
    }
    
    ul li a{
        font-weight: 900 !important;
        color: #ccc;
    }

    ul li a:hover{
        background-color: none;
        background-color: transparent !important;
        color: #FFC55A !important;
    }

    .social-icons .list-inline-item a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: #333;
        border-radius: 50%;
        text-align: center;
        color: white;
        transition: background-color 0.3s ease;
    }
    
    .social-icons .list-inline-item a:hover {
        color: #FFC55A; 
    }
}

#notificationSidebar {
    .notifications {
        .message {
            font-size: smaller;
        }

        a {
            text-decoration: underline !important;
        }

        a:hover {
            text-decoration: none !important;
        }

        img {
            width: 100px;
            max-height: 100px;
        }


        .rating {            
            i {
                cursor: pointer;
                font-size: large;            
            }
            .selected {
            color: #FFC55A;            
            }
        }
    }
}

#cartSidebar {
    .cart-items {
        font-size: smaller;

        img {
            width: 50px;
            max-height: 50px;
        }

        .quantity-button {
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        .remove {
            border: 1px solid #333;
            color: #333;
        }

        .add {
            border: 1px solid #FFC55A;
            color: #FFC55A;
            font-size: larger;
        }   
        
        a {
            text-decoration: underline !important;
        }

        a:hover {
            text-decoration: none !important;
        }  
        
        .cart-item-single {
            margin-top: 10px;
            border-bottom: 1px solid #ECECEC;
            border-radius: 15px;
        }




    }

    .form-check-input {
        border-radius: 50%;
        font-size: larger;
        border: 1px solid #FFC55A;
        cursor: pointer;
    }
    
    .form-check-input:checked {
        border-color:#fc4100 !important;
        background-color: #fc4100;
    
    }
    
    .form-check-input:focus {
        outline: none;
        box-shadow: none;
    }  
    
    .cartPrice {
        color: #6D6D6D !important;
    }
}